.navbar
{
    background-color: #384960 !important;
}
.opened
{
    background-color:#127bdd !important;
}

.open.as
{
    background-color:#FFFFFF !important;
}

.open.mo
{
    background-color:#95EFF3 !important;
}

.open.az
{
    background-color:#77DCEF !important;
}

.open.ta
{
    background-color:#33A5F3 !important;
}

.open.in
{
    background-color:#2692F5 !important;
}