.open
{
    background-color:#2692F5 !important;
}

.open.as
{
    background-color:#2692F5 !important;
}

.open.mo
{
    background-color:#33A5F3 !important;
}

.open.az
{
    background-color:#77DCEF !important;
}

.open.ta
{
    background-color:#95EFF3 !important;
}

.open.ta
{
    background-color:#DCF5F4 !important;
}


.navbar
{
    background-color: #53687B !important;
}