#navbar
{
    background: linear-gradient(#4c6280, #5d85aa) !important;
}
b, strong
{
    font-weight: bold !important;
}
.flex-container
{
    display: inline-grid;
    margin: 10px;
}
#export #export:hover
{
    color:rgb(#ff3547) !important;
}

/* CSS Google DataTable */
#table_div
{
    display: flex;
    align-items: center;
    margin: 10px;
}
.google-visualization-table .gradient
{
    background-color: white    !important;
}
.google-visualization-table-th
{
    font-weight: bold            !important;
    border-top-style: solid      !important;
    border-bottom-style: solid   !important;
    border-right-style: none     !important;
    border-left-style: none      !important;
}
.google-visualization-table-td
{
    height: 52px                  !important;
    padding-left: 16px            !important;
    padding-right: 16px           !important;
    padding-top: 8px              !important;
    padding-bottom: 8px           !important;
    border-top-style: solid       !important;
    border-bottom-style: solid    !important;
    border-right-style: none      !important;
    border-left-style: none       !important;
}
.google-visualization-table-tr-head
{
    height: 56px !important;
}
.google-visualization-table-tr-over
{
    background-color: #f5f7ff !important;
}
.google-visualization-table-tr-odd
{
    height: 52px !important;
}

.google-visualization-table-tr-sel
{
    background-color: #81b1dd !important;
}

/* Design Form Voci Indicatore */
#text
{
    vertical-align: middle !important;
}
#listaVociIdentificatore td
{
    text-align: center !important;
    vertical-align: middle !important;
}
#dataVoce, #valoreAtt, #valoreRag, #natura
{
    text-align: center !important;
}